# Supported filenames: docker-compose.yml, docker-compose.yaml, fig.yml, fig.yaml
# RUN: docker-compose build && docker-compose up -d
data:
  # pure files container
  image: busybox
  volumes:
    # source code
    - /git-repos/myweb_staging:/git-repos/myweb_staging
    # postgres database
    - /etc/postgresql:/etc/postgresql
    - /var/lib/postgresql:/var/lib/postgresql #TODO mount host to the postgresql database path
    # nginx, postgres and supervisor logs
    - /var/log/postgresql:/var/log/postgresql
    - /var/log/nginx:/var/log/nginx
    - /var/log/supervisor:/var/log/supervisor


db:
  image: postgres
  volumes_from:
    - data
  environment:
    - POSTGRES_PASSWORD=pass
  ports:
    # "HOST:CONTAINER"
    - "5433:5432" # conflic with local install posgresql, map to the port other than 5432
#TODO /var/lib/postgresql/data is permission by postgres user, that's why file can not be saved

web:
  build: .
  ports:
    - "8000:80"
    - "443:443"
  links:
    - db
  volumes_from:
    - data