# Staging Container RUN:
# docker-compose --verbose --project-name myweb --file docker-compose.staging.yml build && docker-compose --verbose --project-name myweb --file docker-compose.staging.yml up -d
staging: # Branch Name for this
  build: .
  ports:
    - "8000:80"
    - "4443:443"
  environment:
    - DJANGO_ENVIRONMENT=staging
  external_links:
    - db #Build db container RUN: docker run -e "POSTGRES_PASSWORD=pass" -d --name db postgres
  volumes:
    - /var/log/nginx:/var/log/nginx
    - /var/log/supervisor:/var/log/supervisor